/* Sets up the background color*/
body {
	background-color: #E7E9EC;
}

/* Sets the navbar background color and dropshadow*/
#navBG {
	background-color: #FF9000;
	box-shadow: 0px 3px 5px #8D8D8D;
}

/* Holds all the nav buttons*/
#navCont {
	width: 100%;
	height: 34px;
	margin: 0 auto;
	font-size: 0;
	padding: 0 0 0 0;
}

/* Spacing and display style for each list item*/
.navLI {
	width: 16.6667%;
	display: inline-block;
}

/* Hides logo until resized*/
#logo {
	display: none;
}
/* Hides searchbar until resized*/
#searchBar {
	display: none;
}
/* Hides searchicon until resized*/
#searchButton {
	display: none;
}
/* Sets the icons. Used so that way I could swtich out the icons depending on media quiery*/
.matches {
	background: url('images/matchesOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}
.messages {
	background: url('images/messagesOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}
.notifications {
	background: url('images/notificationsOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}
.saved {
	background: url('images/savedOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}
.search {
	background: url('images/searchOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}
.other {
	background: url('images/otherOrange.svg');
	background-repeat:no-repeat;
	background-size: 17px 17px;
}

/* Positions the icons relative to the navbar*/
.iconPosition {
  display: block;
  height: 25px;
  position: relative;
  width: 25px;
  margin: 0 auto;
  padding: 0px;
  margin-top: 9px;
}
